.pie-de-pagina {
    background: #000000;
    width: 100%;
    
    color: #fdfdfd;
    text-transform: lowercase;
    
}


.contacto, .copyright{
    display: flex;
    justify-content: space-evenly;

}






