.div-subrayado {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: 2px solid red;
    text-align: center;
    margin: 0.05em;
}



.area-palabra{
    margin-left: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botonera {
    margin-left: 0.5em;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
}


.boton-letra{
    margin: 0.3em;
    width: 30px;
    height: 30px;
}

.mensaje-final {
    text-align: center;
    font-weight: bold;

}